@using Festivalcito.Shared.Classes;
@using Festivalcito.Client.Pages;
@namespace Festivalcito.Client.Shared

<tr>
    <td>
        <div style="display: flex;background-color:@shift!.backgroundColor;font-size:small;height:100%">
            <div style="flex: 50%;">
                <span><strong>ShiftName:</strong></span>
                @shift!.ShiftName
                <br />
                <span><strong>StartTime:</strong></span>
                @shift!.StartTime
                <br />
                <span><strong>Endtime:</strong></span>
                @shift!.EndTime
            </div>
            <div style="flex: 50%;">
                <span><strong>shiftPoints:</strong></span>
                @shift!.shiftPoints
                <br />
                <span><strong>HourMultiplier:</strong></span>
                @shift!.HourMultiplier
                <br />
                <button style="display:@ShiftButtonStatus(shift, "takeButton")" @onclick="TakeShiftClicked">
                    <h6>Take shift</h6>
                </button>
                <button class="button" style="display:@ShiftButtonStatus(shift, "removeButton")" @onclick="RemoveShiftClicked">
                    <h6>Remove shift</h6>
                </button>
            </div>
        </div>
    </td>
</tr>