@page "/"
@using Festivalcito.Client.Services.ShiftServicesFolder;
@using Festivalcito.Client.Services.PersonServicesFolder;
@using Festivalcito.Shared.Models;

<h1>Hello, world!</h1>

@code{
    [Inject]
    public IShiftService? ShiftService { get; set; }

    [Inject]
    public IPersonService? PersonService { get; set; }

    private List<Shift> ShiftsList = new List<Shift>();


    protected override async Task OnInitializedAsync()
    {
        /*
        ShiftsList = (await ShiftService!.ReadAllShifts())!.ToList();

        Console.WriteLine("INdex"+ ShiftsList.Count());
        foreach (Shift shiftX in ShiftsList)
        {
            Console.WriteLine($"{shiftX.Name}, {shiftX.StartTime}");
        }

        Shift x = new Shift();
        x.Name = "HEJ";
        x.StartTime = new DateTime(2022, 12 , 09);
        x.EndTime = x.StartTime = new DateTime(2022, 12, 10);
        x.AgeMin = 18;
        x.IsLocked = false;
        x.RequiredVolunteers = 10;
        x.HourMultiplier = 1.1f;

        await ShiftService!.CreateShift(x);
        x = (await ShiftService.ReadShift(1));
        Console.WriteLine(x.Name);

        x.Name = "Name changed";
        await ShiftService.UpdateShift(x);
        Console.WriteLine((await ShiftService.ReadAllShifts())!.First().Name);

        await ShiftService.DeleteShift(6);
        */




    }

}